@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.background-color {
  background-color: #A1DAF8;
}

.content {
  min-height: 1080px;

  text-align: center;

  background-size: cover;
}

.paragraph {
  font-size: 40px;
  font-style: italic;
  padding-top: 300px;
  padding-right: 790px;
}

